<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "bootstrap/base.html" %}
    {% block title %}Flasky{% endblock %}
    {% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HOME</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Exam</a></li>
                    <li><a href="/">Project</a></li>
                    <li><a href="/">Scores</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}

    <div class="container">
        <div class="page-header">
            <h1><span style="margin-left: 70%;">TIME: {{ date_time}}
                </span>
            </h1>
            <br><br>
            <style>
                table,
                th,
                td {
                    border: 3px solid black;
                    border-collapse: collapse;
                    margin-left: 60%;
                }
            </style>
            <table style="position: fixed;">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>32</td>
                    <td>33</td>
                    <td>34</td>
                    <td>35</td>
                    <td>36</td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                    <td>47</td>
                    <td>48</td>
                    <td>49</td>
                    <td>50</td>
                </tr>



                </tr>
            </table>
            <h1>
                <div id="timer" name="Timer:"></div>
            </h1>
            <script>

                var seconds = 1500;
                function countdown() {
                    seconds--;
                    var minutes = Math.floor(seconds / 60);
                    var remainingSeconds = seconds % 60;
                    if (remainingSeconds < 10) {
                        remainingSeconds = "0" + remainingSeconds;
                    }
                    document.getElementById("timer").innerHTML = minutes + ":" + remainingSeconds;
                    if (seconds == 0) {
                        clearInterval(countdownTimer);
                        alert("Time's up!");
                    }

                }
                var countdownTimer = setInterval(countdown, 1000);
            </script>
            <br>
            <h1>INSTRUCTION:</h1>
        </div>
        <div class="page_content">
            <h3>1. Who is the President of Egypt?<br><br>
                <input type="radio" name="JohnPeterMatthewMoses" value=""> a. John
                <br><br>
                <input type="radio" name="JohnPeterMatthewMoses" value=""> b. Peter
                <br><br>
                <input type="radio" name="JohnPeterMatthewMoses" value=""> c. Matthew
                <br><br>
                <input type="radio" name="JohnPeterMatthewMoses" value=""> d. Moses
            </h3>
            <br>

            <h3>2. what is the name of an actor named "The rock"?<br><br>
                <input type="radio" name="KellyParkerJohnCenaDwayneJohnsonTomHolland" value=""> 
                a. Kelly Parker
                <br><br>
                <input type="radio" name="KellyParkerJohnCenaDwayneJohnsonTomHolland" value=""> 
                b. John Cena
                <br><br>
                <input type="radio" name="KellyParkerJohnCenaDwayneJohnsonTomHolland" value=""> 
                c. Dwayne Johnson
                <br><br>
                <input type="radio" name="KellyParkerJohnCenaDwayneJohnsonTomHolland" value=""> 
                d. Tom Holland
            </h3>

            <br>

            <h3>3. Who is the owner of Facebook ?<br><br>
                <input type="radio" name="ElonMuskTeslaWesleyBillGatesMarkZukerberg" value=""> 
                a. Elon Musk
                <br><br>
                <input type="radio" name="ElonMuskTeslaWesleyBillGatesMarkZukerberg" value=""> 
                b. Tesla Wesley
                <br><br>
                <input type="radio" name="ElonMuskTeslaWesleyBillGatesMarkZukerberg" value=""> 
                c. Bill Gates
                <br><br>
                <input type="radio" name="ElonMuskTeslaWesleyBillGatesMarkZukerberg" value=""> 
                d. Mark Zukerberg
            </h3>
            <br>
            <h3>4. Most written programming language ?<br><br>
                <input type="radio" name="JavaHtmlPythonPhp" value=""> 
                a. Java
                <br><br>
                <input type="radio" name="JavaHtmlPythonPhp" value=""> 
                b. Html
                <br><br>
                <input type="radio" name="JavaHtmlPythonPhp" value=""> 
                c. Python
                <br><br>
                <input type="radio" name="JavaHtmlPythonPhp" value=""> 
                d. Php
            </h3>
            <br>
            <h3>5. Who is the owner of Micro-Soft ?<br><br>
                <input type="radio" name="BillGatesZenBillMarkZukerber" value=""> 
                a. Bill Gates
                <br><br>
                <input type="radio" name="BillGatesZenBillMarkZukerber" value=""> 
                b. Zen Bill
                <br><br>
                <input type="radio" name="BillGatesZenBillMarkZukerber" value=""> 
                c. Mark Zukerberg
                <br><br>
                <input type="radio" name="BillGatesZenBillMarkZukerber" value=""> 
                d. Benard Wilton
            </h3>
            <br>
            <h3>6. Who acted the movie "I am a Legend"?<br><br>
                <input type="radio" name="ZackSynderWillSmithDenzelWashingtonPeterParker" value=""> 
                a. Zack Synder
                <br><br>
                <input type="radio" name="ZackSynderWillSmithDenzelWashingtonPeterParker" value=""> 
                b. Will Smith
                <br><br>
                <input type="radio" name="ZackSynderWillSmithDenzelWashingtonPeterParker" value=""> 
                c. Denzel Washington
                <br><br>
                <input type="radio" name="ZackSynderWillSmithDenzelWashingtonPeterParker" value=""> 
                d. Peter Parker
            </h3>
            <br>
            <h3>7. Which of these is not a properties of matter?<br><br>
                <input type="radio" name="GasLiquorLiquidSolid" value=""> 
                a. Gas
                <br><br>
                <input type="radio" name="GasLiquorLiquidSolid" value=""> 
                b. Liquor
                <br><br>
                <input type="radio" name="GasLiquorLiquidSolid" value=""> 
                c. Liquid
                <br><br>
                <input type="radio" name="GasLiquorLiquidSolid" value=""> 
                d. Solid
            </h3>
            <br>
            <h3>8. The city New York is in which country?<br><br>
                <input type="radio" name="USAUKCanadaNigeria" value=""> 
                a. USA
                <br><br>
                <input type="radio" name="USAUKCanadaNigeria" value=""> 
                b. UK
                <br><br>
                <input type="radio" name="USAUKCanadaNigeria" value=""> 
                c. Canada
                <br><br>
                <input type="radio" name="USAUKCanadaNigeria" value=""> 
                d. Nigeria
            </h3>
            <br>
            <h3>9. what is said to have weight and occupy space ?<br><br>
                <input type="radio" name="MatterAirSandWater" value=""> 
                a. Matter
                <br><br>
                <input type="radio" name="MatterAirSandWater" value=""> 
                b. Air
                <br><br>
                <input type="radio" name="MatterAirSandWater" value=""> 
                c. Sand
                <br><br>
                <input type="radio" name="MatterAirSandWater" value=""> 
                d. Water
                <br>
            </h3>
            <h3>10. Who is the CEO of Jascube Tech?<br><br>
                <input type="radio" name="JohnAdeyemiMohammedAhmedMuhadAdesijiIfeanyiJoshua" value=""> 
                a. John Adeyemi
                <br><br>
                <input type="radio" name="JohnAdeyemiMohammedAhmedMuhadAdesijiIfeanyiJoshua" value=""> 
                b. Mohammed Ahmed
                <br><br>
                <input type="radio" name="JohnAdeyemiMohammedAhmedMuhadAdesijiIfeanyiJoshua" value=""> 
                c. Muhad Adesiji
                <br><br>
                <input type="radio" name="JohnAdeyemiMohammedAhmedMuhadAdesijiIfeanyiJoshua" value=""> 
                d. Ifeanyi Joshua
            </h3>
        </div>
    </div>
    {% endblock %}
</body>

</html>