<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "base.html" %}
<!-- 
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HOME</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Exam</a></li>
                    <li><a href="/">Project</a></li>
                    <li><a href="/">Scores</a></li>
                </ul>
            </div>
        </div>
    </div> -->

    {% import "bootstrap/wtf.html" as wtf %}

    {% block title %}Flasky{% endblock %}

    {% block page_content %}
    <div class="page-header">
        <h1>TIME:{{ date_time }}</h1>
        <br> <br> <br>
        <h1>INSTRUCTION:</h1>
    </div>
    <div class="page_content">
        <p>1. Who is the President of Egypt?
            a. John b. Peter
            c. Matthew d. Moses
        </p>

    </div>
    {% endblock %}
</body>

</html>